.welcome-msg {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
    width: fit-content;
}

.container {
    display: flex;
    height: 100%;
    padding: 1rem 3rem;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.panel {
    width: 10%;
}

.resizer {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.resizer-button-wrapper {
    height: 100%;
}

.resizer-button {
    height: fit-content;
    position: relative;
    top: 50%;
}
