.active-outer {
    background-color: rgba(128, 128, 128, 0.8);
    transition: background-color 300ms linear;
    z-index: 50;
}

.inactive-outer {
    visibility: hidden;
}

.outer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.active-inner {
    transform: translateY(0);
    transition: transform 300ms linear;
}

.inactive-inner {
    transform: translateY(calc(-50vh));
}

.inner {
    background-color: white;
    padding: 1.25rem;
    z-index: 51;
}
