.container {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.name {
    font-size: large;
    font-weight: 600; /* only slightly bolder than default of 400 */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* name should only be on one line */
}

.desc {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.tags {
    opacity: 0.6;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.deadline {
    font-size: small;
}
