.container {
    bottom: 5rem;
    height: 10rem;
    margin-bottom: -5rem; /* https://stackoverflow.com/a/12601490 */
    position: relative;
}

/* Hide scrollbar */
/* https://stackoverflow.com/a/38994837 */
.row {
    -ms-overflow-style: none;
    column-gap: 1rem; /* column gap specifies the minimum gap between items in the row */
    display: flex;
    height: 100%;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    scrollbar-width: none;
}

/* https://stackoverflow.com/a/34455480 */
.row::before,
.row::after {
    content: ""; /* insert space before first and after */
}

.row::-webkit-scrollbar {
    display: none;
}

.line {
    border: 2px solid black;
}

.vert-line {
    background-color: black;
    border: none;
    height: 25px;
    position: relative;
    width: 3px;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
    text-align: center;
    top: 50%;
}

/* truncate long names */
/* https://stackoverflow.com/a/26973672 */
.truncate-name {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* box-shadow is #29 from https://getcssscan.com/css-box-shadow-examples */
.card {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0.2rem 0.6rem;
    position: absolute;
    top: -30%;
    width: max-content;
}

.circle {
    cursor: pointer;
}

.circle:hover {
    filter: brightness(150%);
}
