.wrapper {
    position: relative;
}

.container {
    border-radius: 6px;
    border: 1px solid rgb(59, 130, 246);
    /* 5rem from navbar, 3rem from welcome message */
    height: calc(100vh - 2 * (5rem + 1rem));
    overflow-y: auto;
    padding: 1rem;
}

.title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.expand-button {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s;
}

.expand-button:hover {
    transform: scale(1.2);
}
