.wrapper {
    position: relative;
}

.container {
    border-radius: 6px;
    border: 1px solid rgb(59, 130, 246);
    /* 5rem from navbar, 3rem from welcome message */
    height: calc(100vh - 2 * (5rem + 1rem));
    overflow-y: auto;
    padding: 1rem;
}

.title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.search-box {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
}

.filter-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: transform 0.2s;
}

.filter-button:hover {
    transform: scale(1.2);
}

.filter-dropdown-content {
    background-color: white;
    border-radius: 6px;
    border: 1px solid black;
    position: absolute;
    right: -20%;
    top: 3rem;
    transition: 0s visibility 0.3s;
    visibility: hidden;
    padding: 0.2rem 0.4rem;
}

.filter-dropdown:hover .filter-dropdown-content {
    visibility: visible;
    transition: 0s visiblity 0s;
}

.expand-button {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s;
}

.expand-button:hover {
    transform: scale(1.2);
}
